header {
    background-color: white;
    color: #000066 ;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    width: 100px;
    margin-left: 20px;
}
body {
    font-family: Din, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
footer {
    background-color: #000066;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}
#map {
    height: 500px;
    width: 100%;
}
.leaflet-control-layers {
    background-color: white;
    padding: 5px;
}
.map-button {
    cursor: pointer;
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #000066;
    background: white;
    padding: 10px;
    border: 2px solid #000066 !important;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.1s ease 0s;
}
nav ul li a:hover {
    color: #ff0000 !important;
    border-radius: 20px;
    border-color: #ff0000 !important;
    transition: all 0.1s ease 0s;
}
main {
    padding: 20px;
}
h1, h2 {
    color: #333;
}
ul {
    padding: 0;
    list-style-type: none;
}
li {
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
li .status-icon {
    margin-right: 10px;
}
.open {
    color: green;
}
.closed {
    color: red;
}
@media only screen and (max-width: 992px) {
    .container {
        min-width: 80vw;
        min-height: 600px;
    }
}
.container {
    background-color: #000066;
    color: white;
    padding: 10px 0;
}
.row {
    margin: 10px;
}

.filter-buttons {
    margin: 10px 0;
    text-align: center;
}
.filter-button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #000066;
    color: white;
    border: none;
    border-radius: 5px;
}
.filter-button:hover {
    border-radius: 20px;
    border-color: #ff0000 !important;
    transition: all 0.1s ease 0s;
}
.filter-button.active {
    background-color: red;
    color: white;
}

/* manage.html */
/* General container styling */
/* General container styling */
.manageContainer {
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
}

.manageContainer h1 {
    text-align: center;
    margin-top: 20px;
}

.manageContainer p {
    text-align: center;
    margin-bottom: 20px;
}

/* Manage info container */
.manage-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.select {
    width: 100%;
}

#lifts-container,
#slopes-container {
    width: 33%;
    background: #f7f7f7;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#lifts-container h2,
#slopes-container h2 {
    text-align: center;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* Info column styling */
.info-column {
    margin-bottom: 10px;
}

.info-column .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    margin-top: 5px;
}

.info-column .name {
    font-weight: bold;
    color: #333;
}

.info-column .open-status label {
    display: flex;
    align-items: center;
}

.info-column .open-status input[type="checkbox"] {
    margin-right: 10px;
}
/* General styling for checkboxes */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

/* Slider knob styling */
input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s;
}

/* Checked state styles */
input[type="checkbox"]:checked:before {
    left: calc(100% - 18px);
    background-color: #fff; /* Knob color when checked */
}

/* Open status styles */
.open-status input[type="checkbox"]:checked {
    background-color: #28a745; /* Green background when open */
}

.open-status input[type="checkbox"]:checked + span {
    color: #fff; /* White text when open */
}

/* Closed status styles */
.open-status input[type="checkbox"]:not(:checked) {
    background-color: #dc3545; /* Red background when closed */
}

.open-status input[type="checkbox"]:not(:checked) + span {
    color: #fff; /* White text when closed */
}

/* end manage.html */

