header {
    background-color: white;
    color: #000066 ;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    width: 100px;
    margin-left: 20px;
}
body {
    font-family: Din, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
footer {
    background-color: #000066;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}
#map {
    height: 500px;
    width: 100%;
}
.map-button {
    cursor: pointer;
    padding: 6px 12px;
    background-color: #000066;
    color: white;
    border: none;
    border-radius: 4px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #000066;
    background: white;
    padding: 10px;
    border: 2px solid #000066 !important;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.1s ease 0s;
}
nav ul li a:hover {
    color: #ff0000 !important;
    border-radius: 20px;
    border-color: #ff0000 !important;
    transition: all 0.1s ease 0s;
}
main {
    padding: 20px;
}
h1, h2 {
    color: #333;
}
ul {
    padding: 0;
    list-style-type: none;
}
li {
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
li .status-icon {
    margin-right: 10px;
}
.open {
    color: green;
}
.closed {
    color: red;
}
@media only screen and (max-width: 992px) {
    .container {
        min-width: 80vw;
        min-height: 600px;
    }
}
.container {
    background-color: #000066;
    color: white;
    padding: 10px 0;
}
.row {
    margin: 10px;
}
.filter-buttons {
    margin: 10px 0;
    text-align: center;
}
.filter-button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #000066;
    color: white;
    border: none;
    border-radius: 5px;
}
.filter-button:hover {
    border-radius: 20px;
    border-color: #ff0000 !important;
    transition: all 0.1s ease 0s;
}
.filter-button.active {
    background-color: red;
    color: white;
}


/* manage.html */
.manageContainer {
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
}

.manageContainer h1 {
    text-align: center;
    margin-top: 20px;
}

.manageContainer p {
    text-align: center;
    margin-bottom: 20px;
}

.manage-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.select {
    width: 100%;
}

#lifts-container,
#slopes-container {
    width: 33%;
    background: #f7f7f7;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#lifts-container h2,
#slopes-container h2 {
    text-align: center;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.info-column {
    margin-bottom: 10px;
}

.info-column .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    margin-top: 5px;
}

.info-column .name {
    font-weight: bold;
    color: #333;
}

.info-column .open-status label {
    display: flex;
    align-items: center;
}

.info-column .open-status input[type="checkbox"] {
    margin-right: 10px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s;
}

input[type="checkbox"]:checked:before {
    left: calc(100% - 18px);
    background-color: #fff;
}

.open-status input[type="checkbox"]:checked {
    background-color: #28a745;
}

.open-status input[type="checkbox"]:checked + span {
    color: #fff;
}

.open-status input[type="checkbox"]:not(:checked) {
    background-color: #dc3545;
}

.open-status input[type="checkbox"]:not(:checked) + span {
    color: #fff;
}
/* end manage.html */

/* weather.html */
.weather-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.chart {
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.chart h2 {
    margin-bottom: 10px;
}

.chart canvas {
    width: 100%;
}
/* end weather.html */



/* map.html */
.fa-skiing {
    color: #0099ff;
    margin-right: 10px;
}

.fa-check-circle {
    color: green;
    margin-right: 5px;
}

.fa-times-circle {
    color: red;
    margin-right: 5px;
}

.total-kilometers {
    margin-top: 20px;
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.resort-status {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.resort-status .status-text {
    margin-left: 10px;
}

.resort-status .status-icon {
    margin-right: 5px;
}

.resort-status .status-text.closed {
    color: red;
}

.resort-status .status-text.open {
    color: green;
}

.info-sections {
    display: flex;
    margin-top: 20px;
}

.info-section {
    flex: 1;
    margin-right: 20px;
    padding: 15px;
    background: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.info-section:last-child {
    margin-right: 0;
}

.info-section h3 {
    margin-bottom: 10px;
}

ul li .status-icon {
    margin-right: 10px;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .info-sections {
        flex-direction: column;
    }

    .info-section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
/* index html*/

/* map.html */
.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.section {
    flex: 1;
    margin-right: 20px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.section h2 {
    color: #333;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .sections-container {
        flex-direction: column;
    }

    .section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


