{% extends 'header.html' %}

{% block title %}Admin{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'app.css' %}">

{% block content %}
<h1>Admin</h1>
<div class="manageContainer">
    <p>Open or close slopes and lifts</p>
    <div class="manage-info">
        <div id="lifts-container" class="info-category">
            <h2>Lifts</h2>
        </div>
        <div id="slopes-container" class="info-category">
            <h2>Slopes</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function addListItem(container, name, status) {
        const listItem = `<div class="info-column">
                            <div class="item">
                                <div class="name">${name}</div>
                                <div class="open-status">
                                    <label>
                                        <input type="checkbox" data-name="${name}" ${status === 'open' ? 'checked' : ''}>
                                    </label>
                                </div>
                            </div>
                          </div>`;
        container.append(listItem);
    }

    $(document).ready(function() {
        function loadAndRenderData(url, containerId, title) {
            $.getJSON(url, function(data) {
                const container = $(containerId);
                container.empty().append(`<h2>${title}</h2>`);

                data.features.sort((a, b) => a.properties.name.localeCompare(b.properties.name));

                $.each(data.features, function(index, item) {
                    addListItem(container, item.properties.name, item.properties.status);
                });
            });
        }

        loadAndRenderData("{% url 'liftsjson' %}", '#lifts-container', 'Lifts');
        loadAndRenderData("{% url 'slopesjson' %}", '#slopes-container', 'Slopes');

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        function updateStatus(url, name, isOpen, statusLabel, type) {
            $.ajax({
                url: url,
                type: 'POST',
                headers: { 'X-CSRFToken': csrftoken },
                data: {
                    name: name,
                    status: isOpen ? 'open' : 'closed',
                    type: type
                },
                success: function(response) {
                    console.log(`Successfully updated ${type} ${name} to ${isOpen ? 'open' : 'closed'}`);
                },
                error: function(xhr, status, error) {
                    console.error(`Failed to update ${type} ${name}: ${status} - ${error}`);
                    $(this).prop('checked', !isOpen);
                }
            });
        }

        $('#lifts-container, #slopes-container').on('click', 'input[type="checkbox"]', function() {
            const name = $(this).data('name');
            const isOpen = $(this).prop('checked');
            const statusLabel = $(this).next('span');
            let type = '';

            if ($(this).closest('#lifts-container').length > 0) {
                type = 'lift';
            } else if ($(this).closest('#slopes-container').length > 0) {
                type = 'slope';
            }

            if (type) {
                updateStatus('{% url "update_status" %}', name, isOpen, statusLabel, type);
            } else {
                console.error('Unknown item type');
            }
        });
    });
</script>

{% include 'footer.html' %}
{% endblock %}
