{% extends 'header.html' %}

{% block title %}Map{% endblock %}
{% load static %}
{% block extra_head %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.js"></script>
<script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>
<link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock %}

{% block content %}
<h1>Facilities Map</h1>
<div class="filter-buttons">
    <button class="filter-button active" data-type="all">All</button>
    <button class="filter-button" data-type="slopes">Slopes</button>
    <button class="filter-button" data-type="lifts">Lifts</button>
    <button class="filter-button" data-type="buildings">Buildings</button>
</div>
<div id="map"></div>
<div id="total-kilometers" class="total-kilometers">
    <p id="resort-status" class="resort-status centered-content">
        <i class="status-icon"></i>
    </p>
    <p class="centered-content">
        <i class="fas fa-skiing"></i>
        Total Ridable Kilometers: <span id="total-km">0</span> km
    </p>
    <div class="info-sections">
        <div class="info-section">
            <h3>Restaurants</h3>
            <ul id="restaurants-list">
                <!-- Restaurants -->
            </ul>
        </div>
        <div class="info-section">
            <h3>Hotels</h3>
            <ul id="hotels-list">
                <!-- Hotels -->
            </ul>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const key = 'ZAKOxwMuRDTYP33EoZv0';
    document.addEventListener("DOMContentLoaded", function() {
        var map = L.map('map').setView([46.1845, 7.3727], 14); // Centered on Thyon :)

        var tilelayer1 = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        });
        var tilelayer2 = L.tileLayer(`https://api.maptiler.com/tiles/satellite-v2/{z}/{x}/{y}.jpg?key=${key}`, {
            attribution: '&copy; MapTiler &copy; OpenStreetMap contributors'
        });

        tilelayer1.addTo(map);

        var LayerSwitcherControl = L.Control.extend({
            options: {
                position: 'topright'
            },

            onAdd: function(map) {
                var container = L.DomUtil.create('div', 'leaflet-control-layers');
                var button = L.DomUtil.create('button', 'map-button', container);
                button.innerHTML = 'MAP STYLE';

                L.DomEvent.on(button, 'click', function() {
                    if (map.hasLayer(tilelayer1)) {
                        map.addLayer(tilelayer2);
                        map.removeLayer(tilelayer1);
                    } else {
                        map.addLayer(tilelayer1);
                        map.removeLayer(tilelayer2);
                    }
                });

                return container;
            }
        });

        map.addControl(new LayerSwitcherControl());

        var slopesUrl = "{% url 'slopesjson' %}";
        var liftsUrl = "{% url 'liftsjson' %}";
        var buildingsUrl = "{% url 'buildingsjson' %}";

        var slopesLayer = L.layerGroup();
        var liftsLayer = L.layerGroup();
        var buildingsLayer = L.layerGroup();
        var slopesData = [];

        function calculateDistance(lat1, lon1, lat2, lon2) {
            var R = 6371; // Radius of the earth in km
            var dLat = (lat2 - lat1) * Math.PI / 180;
            var dLon = (lon2 - lon1) * Math.PI / 180;
            var a =
                    0.5 - Math.cos(dLat) / 2 +
                    Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                    (1 - Math.cos(dLon)) / 2;

            return R * 2 * Math.asin(Math.sqrt(a));
        }

        function calculateLength(geometry) {
            var coordinates = geometry.coordinates;
            var length = 0;
            for (var i = 0; i < coordinates.length - 1; i++) {
                var latlng1 = [coordinates[i][1], coordinates[i][0]];
                var latlng2 = [coordinates[i + 1][1], coordinates[i + 1][0]];
                length += calculateDistance(latlng1[0], latlng1[1], latlng2[0], latlng2[1]);
            }
            return length;
        }

        function getSlopeColor(difficulty) {
            switch(difficulty) {
                case 'green':
                    return 'green';
                case 'blue':
                    return 'blue';
                case 'red':
                    return 'red';
                case 'black':
                    return 'black';
                default:
                    return 'gray';
            }
        }

        function addHoverEffect(layer, defaultStyle) {
            layer.on('mouseover', function(e) {
                var targetLayer = e.target;
                targetLayer.setStyle({
                    weight: 7,
                    color: 'yellow',
                    opacity: 1
                });
                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    targetLayer.bringToFront();
                }
            });
            layer.on('mouseout', function(e) {
                layer.setStyle(defaultStyle);
            });
        }

        function createSlopesLayer(data) {
            slopesData = data.features;
            L.geoJson(data, {
                style: function (feature) {
                    var defaultStyle = {
                        color: getSlopeColor(feature.properties.difficulty),
                        weight: 5,
                        opacity: 1
                    };
                    return defaultStyle;
                },
                onEachFeature: function (feature, layer) {
                    var length = calculateLength(feature.geometry);
                    feature.properties.length = length; // Store length in properties
                    if (feature.properties && feature.properties.name) {
                        layer.bindPopup(
                                `<b>${feature.properties.name}</b><br>` +
                                `Difficulty: ${feature.properties.difficulty}<br>` +
                                `Status: ${feature.properties.status}<br>` +
                                `Length: ${length.toFixed(2)} km`
                        );
                    }
                    var defaultStyle = {
                        color: getSlopeColor(feature.properties.difficulty),
                        weight: 5,
                        opacity: 1
                    };
                    addHoverEffect(layer, defaultStyle);
                    slopesLayer.addLayer(layer);
                }
            });
        }

        function createLiftsLayer(data) {
            L.geoJson(data, {
                style: function (feature) {
                    var defaultStyle = {
                        color: 'brown',
                        weight: 3,
                        opacity: 1,
                        dashArray: '5, 5'
                    };
                    return defaultStyle;
                },
                onEachFeature: function (feature, layer) {
                    var length = calculateLength(feature.geometry);
                    var popupContent =
                            `<b>${feature.properties.name}</b><br>` +
                            `Type: ${feature.properties.type}<br>` +
                            `Capacity: ${feature.properties.capacity}<br>` +
                            `Status: ${feature.properties.status}<br>` +
                            `Length: ${length.toFixed(2)} km`;

                    if (feature.properties && feature.properties.name) {
                        layer.bindPopup(popupContent);
                    }

                    var defaultStyle = {
                        color: 'brown',
                        weight: 3,
                        opacity: 1,
                        dashArray: '5, 5'
                    };
                    addHoverEffect(layer, defaultStyle);

                    var coordinates = feature.geometry.coordinates;
                    var startCoord = coordinates[0];
                    var endCoord = coordinates[coordinates.length - 1];

                    var startMarker = L.marker([startCoord[1], startCoord[0]]);
                    var endMarker = L.marker([endCoord[1], endCoord[0]]);

                    startMarker.bindPopup(popupContent);
                    endMarker.bindPopup(popupContent);

                    liftsLayer.addLayer(layer);
                    liftsLayer.addLayer(startMarker);
                    liftsLayer.addLayer(endMarker);
                }
            });
        }


        function createBuildingsLayer(data) {
            L.geoJson(data, {
                style: function (feature) {
                    var defaultStyle = {
                        color: 'orange',
                        fillOpacity: 0.5
                    };
                    return defaultStyle;
                },
                onEachFeature: function (feature, layer) {
                    if (feature.properties && feature.properties.name) {
                        layer.bindPopup(
                                `<b>${feature.properties.name}</b><br>` +
                                `Type: ${feature.properties.type}`
                        );
                    }
                    var defaultStyle = {
                        color: 'orange',
                        fillOpacity: 0.5
                    };
                    addHoverEffect(layer, defaultStyle);
                    buildingsLayer.addLayer(layer);
                }
            });
        }

        function calculateTotalKilometers() {
            var totalKilometers = slopesData.reduce(function(sum, slope) {
                if (slope.properties.status === 'open') {
                    return sum + slope.properties.length;
                }
                return sum;
            }, 0);
            $('#total-km').text(totalKilometers.toFixed(2));

            if (totalKilometers <= 0) {
                $('#resort-status').html('<i class="fas fa-times-circle status-icon"></i><span class="status-text closed"> The resort is closed at the moment.</span>');
            } else {
                $('#resort-status').html('<i class="fas fa-check-circle status-icon"></i><span class="status-text open"> The resort is open, enjoy !</span>');
            }
        }

        // Load and display slopes
        $.getJSON(slopesUrl, function (data) {
            createSlopesLayer(data);
            map.addLayer(slopesLayer);
            calculateTotalKilometers(); // Calculate total kilometers initially
        });

        // Load and display lifts
        $.getJSON(liftsUrl, function (data) {
            createLiftsLayer(data);
            map.addLayer(liftsLayer);
        });

        // Load and display buildings
        $.getJSON(buildingsUrl, function (data) {
            createBuildingsLayer(data);
            map.addLayer(buildingsLayer);
        });

        // Filter functionality
        $('.filter-button').click(function() {
            $('.filter-button').removeClass('active');
            $(this).addClass('active');
            var type = $(this).data('type');
            filterLayers(type);
        });

        function filterLayers(type) {
            map.removeLayer(slopesLayer);
            map.removeLayer(liftsLayer);
            map.removeLayer(buildingsLayer);

            if (type === 'all') {
                map.addLayer(slopesLayer);
                map.addLayer(liftsLayer);
                map.addLayer(buildingsLayer);
            } else if (type === 'slopes') {
                map.addLayer(slopesLayer);
            } else if (type === 'lifts') {
                map.addLayer(liftsLayer);
            } else if (type === 'buildings') {
                map.addLayer(buildingsLayer);
            }
        }

        $.getJSON(buildingsUrl, function(data) {
            var restaurantsList = $('#restaurants-list');
            var hotelsList = $('#hotels-list');

            data.features.forEach(function(facility) {
                var listItem;
                if (facility.properties.type === 'restaurant') {
                    listItem = `<li><i class="fas fa-utensils"></i> ${facility.properties.name}</li>`;
                    restaurantsList.append(listItem);
                } else if (facility.properties.type === 'hotel') {
                    listItem = `<li><i class="fas fa-hotel"></i> ${facility.properties.name}</li>`;
                    hotelsList.append(listItem);
                }
            });
        });
    });
</script>

{% include 'footer.html' %}
{% endblock %}
